<div class="page-sign">
  <div class="form-sign">
    <h1 class="display-4 text-center mb-5">
      Logar
    </h1>
    <div class="form-group">
      <div class="label-floating">
        <input [(ngModel)]="login" type="text" class="form-control" placeholder="E-mail" autofocus>
      </div>
    </div>
    <div class="form-group">
      <div class="label-floating">
        <input [(ngModel)]="pass" type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <a (click)="loginUser()" class="btn btn-lg btn-primary btn-block">
      Logar
    </a>
    <div class="mt-3 mb-3 text-center">
      <p class="mb-4">
        <a href="#">Esqueci minha senha</a>
      </p>
      <hr>
      <p class="mt-4">
        <label class="text-muted">Não tem senha?</label>
        <a href="#">Criar conta</a>
      </p>
  </div>
</div>