<div class="app">
  <div class="app-body">
    <div class="app-sidebar">
      <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
        <span class="x"></span>
      </button>
      <div class="sidebar-header">
        <img src="assets/img/eu.jpg" class="user-photo">
        <p class="username">Leandro Kenji Ishikawa</p>
      </div>
      <ul id="sidebar-nav" class="sidebar-nav" data-children=".sidebar-nav-group">
        <li class="sidebar-nav-btn">
          <a href="page.html" class="btn btn-block btn-outline-light">
            Button link
          </a>
        </li>
        <li>
          <a routerLink="pesquisar" class="sidebar-nav-link">
            Pesquisar
          </a>
        </li>
        <li class="sidebar-nav-group">
          <a href="#first-group" class="sidebar-nav-link collapsed" data-toggle="collapse">
            Open first group
          </a>
          <ul id="first-group" class="collapse" data-parent="#sidebar-nav">
            <li>
              <a href="#" class="sidebar-nav-link">
                Fisrt group page 1
              </a>
            </li>
            <li>
              <a href="page.html" class="sidebar-nav-link">
                Fisrt group page 2
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-nav-group">
          <a href="#second-group" class="sidebar-nav-link collapsed" data-toggle="collapse">
            Open second group
          </a>
          <ul id="second-group" class="collapse" data-parent="#sidebar-nav">
            <li>
              <a href="page.html" class="sidebar-nav-link">
                Second group page 1
              </a>
            </li>
            <li>
              <a href="page.html" class="sidebar-nav-link">
                Second group page 2
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="sidebar-footer">
        <a href="#" data-toggle="tooltip" title="Settings">
          <i class="fa fa-cog"></i>
        </a>
        <a href="#" data-toggle="tooltip" title="Logout">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
    <div class="app-content">
      <nav class="navbar navbar-expand navbar-light bg-white">
        <button type="button" class="btn btn-sidebar" data-toggle="sidebar">
          <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-brand">Admin 4B</div>
      </nav>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

