<app-card *ngFor="let data of dataChild" [cardTitle]="'Listas: '+data.dados.length" >
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>LISTA</th>
            <th>DATA</th>
            <th>TIPO</th>
            <th>CLIENTE</th>
            <th>BASE O.</th>
            <th>BASE D.</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="data.dados">
            <td>{{data.dados.numlista}}</td>
            <td>{{data.dados.datalista | date:'dd/MM/yyyy'}}</td>
            <td>{{data.dados.nometipolista | slice:0:20}}</td>
            <td>{{data.dados.nomecliente | slice:0:20}}</td>
            <td>{{data.dados.bso}}</td>
            <td>{{data.dados.bsd}}</td>
            <td><a><i class="fas fa-search"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-card>
