/* You can add global styles to this file, and also import other style files */

body,.form-control,.btn{
  font-size:14px;
}

#spinner{
  height:50px !important;
  background-color:transparent !important;
}

@keyframes fadeInRightK {
  0%   {margin-right:300px; opacity:0}
  100% {margin-right:0px; opacity:1 }
}
.fadeInRight {
  animation-name: fadeInRightK;
  animation-duration: 1s;
}

@keyframes fadeInK {
  0%   {opacity:0}
  100% {opacity:1 }
}
.fadeIn {
  animation-name: fadeInK;
  animation-duration: 1s;
}