<div class="row">
  <div class="col-md-6">
    <app-card [cardTitle]="'#'">
      <div *ngIf="chart">
        <canvas id="canvas">{{ chart }}</canvas>
      </div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card [cardTitle]="'#'">
      <div *ngIf="chartb">
        <canvas id="canvasb">{{ chartb }}</canvas>
      </div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card [cardTitle]="'#'">
      <div *ngIf="chartc">
        <canvas id="canvasc">{{ chartc }}</canvas>
      </div>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card [cardTitle]="'#'">
      <div *ngIf="chartd">
        <canvas id="canvasd">{{ chartd }}</canvas>
      </div>
    </app-card>
  </div>
</div>
